/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* CSS variables */
:root {
    --primary-font: "Gruppo", sans-serif; 
    --secondary-font: "Nunito", sans-serif;
    --primary-color: #4ddbdb;
    --secondary-color: #f3e9dc;
    --highlight-color: #5e3023;
}


body {
    font-family: var(--primary-font);
    background: linear-gradient(135deg, #1e1e2f, #212140);
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}


/* Game Container */

.container {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: fadeIn 2s ease-in-out;
}

/* Heading */

h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-shadow: 0 0 2px var(--highlight-color);
}

/* Buttons */

.options button {
    font-size: 3rem;
    color: var(--secondary-color) ;
    background: linear-gradient(135deg, #ff6f61, #ffcc00);
    border-radius: 20px;
    border: none;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 111, 97, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.options button:hover {
    box-shadow: 0 0 25px rgba(255, 111, 97, 0.8);
    transform: scale(1.1);
}

/* Result display */

.result {
    margin-top: 20px;
}

.result p {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin: 10px 0;
}

#result-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00;
    animation: glow 1.5s infinite alternate;
}

/* Restart display */

#restart {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#score, #round, #final-result, #total-wins {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 5px 0;
}

/* Footer styles */

.footer {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid #444;
    columns: var(--secondary-color);
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}