/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* CSS variables */
:root {
    --primary-font: "Gruppo", sans-serif; 
    --secondary-font: "Nunito", sans-serif;
    --primary-color: #4ddbdb;
    --secondary-color: #f3e9dc;
    --highlight-color: #5e3023;
}


body {
    font-family: var(--primary-font);
    background-color: linear-gradient(135deg, #1e1e2f, #212140;);
    color: var(--primary-color);
    align-items: center;
    justify-content; center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: fadeIn 2s ease-in-out;
}